/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

/* Formulário de Cadastro de Imóvel */
.form-carousel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.form-step {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px;
    box-sizing: border-box;
}

.form-step label {
    font-weight: bold;
    color: #333;
    display: flex;
    flex-direction: column;
}

.form-step input,
.form-step select,
.form-step textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

/* Específico para textarea de Histórico de Manutenção */
.form-step textarea {
    resize: vertical;
    min-height: 80px;
    max-height: 200px;
}

/* Botões do formulário */
.btn-next-step,
.btn-prev-step,
.btn-submit-form {
    max-width: 150px;
    align-self: center;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn-next-step:hover,
.btn-prev-step:hover,
.btn-submit-form:hover {
    background-color: #0056b3;
}

.btn-prev-step {
    background-color: #6c757d;
}

.btn-prev-step:hover {
    background-color: #5a6268;
}

.btn-submit-form {
    background-color: #28a745;
}

.btn-submit-form:hover {
    background-color: #218838;
}

/* Navegação entre passos */
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Botão Voltar */
.btn-prev-step {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    max-width: 150px;
    text-align: center;
}

.btn-prev-step:hover {
    background-color: #5a6268;
}

