.imoveis-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 40px 40px 40px;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}

.imovel-card {
    background-color: #d7e8d0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #2b2b2b;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imovel-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.imovel-card img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}

.imovel-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #14453e;
}

.imovel-card p {
    font-size: 1rem;
    margin: 5px 0;
    color: #536878;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    max-width: 100%;
}


.MuiOutlinedInput-notchedOutline {
    border: none !important;
}

@media (max-width: 768px) {
    .imoveis-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        padding: 10px;
    }

    .imovel-card {
        padding: 15px;
    }

    .imovel-card img {
        height: 120px;
    }

    .imovel-card h2 {
        font-size: 1rem;
    }

    .imovel-card p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .imoveis-grid {
        grid-template-columns: 1fr;
        padding: 5px;
    }

    .imovel-card {
        padding: 10px;
    }

    .imovel-card img {
        height: 100px;
    }

    .imovel-card h2 {
        font-size: 0.9rem;
    }

    .imovel-card p {
        font-size: 0.8rem;
    }
}
