.imovel-detalhes-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.imovel-detalhes-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    height: 100%; /* Mantém o conteúdo com altura total */
}

.imovel-detalhes-left,
.imovel-detalhes-right {
    flex: 1;
    padding: 20px;
    height: 100%;
}

/* Media queries consolidados para telas com largura máxima de 768px */
@media (max-width: 768px) {
    .imovel-detalhes-content {
        flex-direction: column;
        padding: 10px;
    }

    .imovel-detalhes-left,
    .imovel-detalhes-right {
        flex: none;
        max-width: 100%;
        padding: 10px;
        height: auto;
    }

    .agendamento-container {
        padding: 15px;
    }

    .agendamento-container button {
        font-size: 14px;
        padding: 8px 15px;
    }

    .slider-container {
        height: auto;
    }

    .slider-container img {
        object-fit: contain;
    }
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #ff4d4d;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.2s, background-color 0.3s;
}

.close-button:hover {
    background: #e60000;
    transform: scale(1.1);
}

.agendamento-container {
    margin-top: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.agendamento-container h2 {
    font-size: 1.4rem;
    color: #6a0dad;
    margin-bottom: 15px;
    text-align: center;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container input {
    font-size: 14px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

.agendar-visita {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #1bb400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.agendar-visita:hover {
    background-color: #47a100;
}

.react-datepicker {
    font-size: 0.85rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.react-datepicker__day--selected {
    background-color: #6a0dad;
    color: white;
}