.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-form {
  background-color: #ffffff;
  padding: 3rem 4rem;
  border-radius: 8px;
  /*noinspection CssRedundantUnit*/
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: #e0e7ff;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  margin-bottom: 1.25rem;
}

.input-group .icon {
  color: #333;
  margin-right: 0.5rem;
}

.input-group input {
  flex: 1;
  border: none;
  background: none;
  padding: 0.5rem 0;
  outline: none;
  color: #333;
  font-size: 1rem;
}

.login-form button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 30px;
  max-width: 100%;
  background: linear-gradient(90deg, #14453e, #2e7d64);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background: linear-gradient(90deg, #2e7d64, #4CAF50);
}

.register-link {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #555;
}
