.slider-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.img-slider {
    width: 90%; /* Define um tamanho relativo ao container */
    max-width: 600px; /* Define um tamanho máximo */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Faz com que a imagem preencha o espaço definido */
    border-radius: 8px; /* Adiciona bordas arredondadas, opcional */
}


.no-image-available {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #f8f8f8;
    border: 1px dashed #ccc;
    color: #555;
    font-size: 1.2rem;
    text-align: center;
}
